:root {
  --검은색목재:url(https://shop-phinf.pstatic.net/20210517_12/1621258144389T3BPP_JPEG/검은색_목재.jpg?type=w860),;
  --청색대리석:url(https://shop-phinf.pstatic.net/20210517_159/1621258145796WuhLK_JPEG/청색_대리석.jpg?type=w860),;
  --갈색톤:url(https://shop-phinf.pstatic.net/20210517_13/1621258144077KOQYz_JPEG/갈색톤.jpg?type=w860),;
  --밝은나무:url(https://shop-phinf.pstatic.net/20210517_61/1621258144334NXJPp_JPEG/밝은_나무.jpg?type=w860),;
  --밝은벽돌:url(https://shop-phinf.pstatic.net/20210517_45/1621258144440WJvJP_JPEG/밝은_벽돌.jpg?type=w860),;
  --밝은콘크리트:url(https://shop-phinf.pstatic.net/20210517_124/1621258144468rOScG_JPEG/밝은_콘크리트.jpg?type=w860),;
  --밝은회색마루:url(https://shop-phinf.pstatic.net/20210517_269/1621258144702p8TjQ_JPEG/밝은_회색,_마루.jpg?type=w860),;
  --분홍벽지:url(https://shop-phinf.pstatic.net/20210517_153/16212581452306sdKU_JPEG/분홍_벽지.jpg?type=w860),;
  --블루원단:url(https://shop-phinf.pstatic.net/20210517_144/1621258145568Xph3P_JPEG/블루_원단.jpg?type=w860),;
  --살구벽지마루:url(https://shop-phinf.pstatic.net/20210517_172/1621258145397Lg8B1_JPEG/살구벽지,마루.jpg?type=w860),;
  --살색원단:url(https://shop-phinf.pstatic.net/20210517_205/1621258145637eeBXO_JPEG/살색_원단.jpg?type=w860),;
  --어두운콘크리트:url(https://shop-phinf.pstatic.net/20210517_19/1621258145589xHxTv_JPEG/어두운_콘크리트.jpg?type=w860),;
  --자홍색벽지:url(https://shop-phinf.pstatic.net/20210517_68/1621258145678ayVUN_JPEG/자홍색벽지.jpg?type=w860),;
  --청색벽소나무:url(https://shop-phinf.pstatic.net/20210517_66/16212581461284bkci_JPEG/청색벽,소나무.jpg?type=w860),;
  --한지텍스쳐:url(https://shop-phinf.pstatic.net/20210517_119/16212581462714cvK6_JPEG/한지_텍스쳐.jpg?type=w860),;
  --흰벽밝은마루:url(https://shop-phinf.pstatic.net/20210517_57/1621258146362IMVR6_JPEG/흰벽,밝은마루.jpg?type=w860),;
  --흰색나무결:url(https://shop-phinf.pstatic.net/20210517_259/1621258146499svtpR_JPEG/흰색_나무결.jpg?type=w860),;
  --흰색나무결2:url(https://shop-phinf.pstatic.net/20210517_194/16212581465679yLj9_JPEG/흰색_나무결2.jpg?type=w860),;
  --sys_1:url(https://shop-phinf.pstatic.net/20210517_138/1621258143871jbBfd_GIF/sys_1.gif),;
  --sys_2:url(https://shop-phinf.pstatic.net/20210517_127/1621258144853fu14D_GIF/sys_2.gif),;
}
