.tooltip {
  position: relative;
  display: inline-block;
  border: #DDDDDD solid 3px;
  border-radius: 50%;
  width:27px;
  height:27px;
  color: #DDDDDD;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 135%;
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover {
  border-color: #0088C3;
  color: #0088C3;
}

#pro_back{
  background-size: 100%;
  background-position-x:center;
  background-position-y:bottom;
  text-align:end;
  margin:0 auto;
  transition-duration:0.8s;
}

.arrow {
  border: solid #DDDDDD;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px
}

.up {
  transform: rotate(-135deg) translate(0, -50%);
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  float: right;
}
.down {
  transform: rotate(45deg) translate(0, 70%);
  -webkit-transform: rotate(45deg) translate(0, 70%);
  float: right;
}

.left {
  transform: rotate(135deg) translate(-25%, 0);
  -webkit-transform: rotate(135deg) translate(-25%, 0);
}
.right {
  transform: rotate(-45deg) translate(0, -25%);
  -webkit-transform: rotate(-45deg) translate(0, -25%);
}


#toast {
  position:absolute;
  left:5%;
  bottom:0%;
  text-align: left;
  line-height: 30px;
  padding: 5px 10px;
  max-width: 400px;
  background-color: white;
  border-radius : 10px;
  color: black;
  transform: scale(0);
  transform-origin: 0% 80%;
  transition: transform 0.1s;
  z-index: 10000;
}

#toast.reveal {
  display: block;
  transform: scale(1);
}

.dropbtn {
  text-align: left;
  background-color: #ffffff;
  border: solid 3px #DDDDDD;
  color: black;
  font-size:15pt;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  height: 45px;
}
td > .dropdown {
  float: left;
  padding: 5px;
}
td > .dropdown > .dropbtn {
  padding: 5px 20px;
}

.dropbtn span {
  margin-right: 20px;
}

.dropbtn:focus {
  color:#0088C3;
  border-color: #0088C3;
}
.dropbtn:hover{
  border-color: #0088C3;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropalign{
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 5px;
  background-size:contain;
  background-repeat:no-repeat;
  color:rgb(0,0,0,0);
}
.a_normal{  background-image:url('background/align_none.png');}
.a_normal:hover, .a_normal:focus, .a_normal.clicked{  background-image:url('background/align_none_on.png');}
.a_left{  background-image:url('background/align_left.png');}
.a_left:hover, .a_left:focus, .a_left.clicked{  background-image:url('background/align_left_on.png');}
.a_center{  background-image:url('background/align_center.png');}
.a_center:hover, .a_center:focus, .a_center.clicked{  background-image:url('background/align_center_on.png');}
.a_right{  background-image:url('background/align_right.png');}
.a_right:hover, .a_right:focus, .a_right.clicked{  background-image:url('background/align_right_on.png');}

.dropbtn:hover .arrow, .dropbtn:focus .down {
  border-color: #0088C3;
}
.dropbtn:hover + #toast, .dropbtn:focus + #toast {
  display: block;
  transform: scaleX(1);
}
.dropbtn:focus + .dropdown-content {
  display: block;
}

.dropdown-content {
  cursor: grab;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dropdown-content:hover {
  display: block;
}
.dropdown-content a {
  font-weight:normal;
  text-align:left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.button {
  display: inline-block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: #0088C3;
  border-radius: 10px;
  border: 2px solid #0088C3;
  font-weight: bold;
}

.button1 {
  position: relative;
}

.button1:hover {
  background-color: #0088C3;
  color: white;
}

.align{
  width:20px;
}
.align:hover{
  width:30px;
}

#font_list{
  position: fixed;
  background: #f1f1f1;
}
#font_dummy{
  height: 45px;
}
#font_list > button{
  padding: 5px 0px 0px 11px;
  font-size: 19px;
  height: auto;
  padding: 0 3px;
  border-radius: 5px;
  border-width: 2px;
}

.transparent {
  background-color: rgba(0,0,0,0.45);
  text-align: center;
  font-size: 25px;
  font-weight:normal;
  width: 40px;
  height: 40px;
  border: 0;
  color:white;
  text-align:center;
}
.transparent > .arrow{
  border-color: white;
  margin: 1px;
}
.transparent > .arrow.down{
  margin: 5px;
}

.hidden {
  display: none;
}
.clicked {
  border-color:#0088C3;
}

.opt_text{
   height:50px;
}
.opt_text > td{
  position:relative;
}
.opt_text > td > font{
  position:absolute;
  font-size:22px;
  left:2%;
}
.opt_text > td > div{
  position:absolute;
  font-size:22px;
  font-weight:bold;
  left:20%;
}
