.exp_case{
  position: relative;
  height: 355px;
}
#exp_main {
  content:url('background/sys_main.jpg');
  width: 100%;
}
#exp_title {
  content:url('background/sys_title.jpg');
  width: 100%;
}
#exp_left {
  background-image:url('background/sys_2.jpg');
  background-size: cover;
  width: 100%;
  height: 320px;
}
#exp_right {
  background-image: url('background/sys_1.jpg');
  background-size: cover;
  width: 100%;
  height: 320px;
}
.play {
  position: absolute;
  bottom: 0%;
  right: 50%;
  width: 60%;
  height: 19px;
  font-size: 18px;
  border: 3px solid #DDDDDD;
  border-radius: 10px;
  transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
}
.exp {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #0088C3;
  transform: scaleX(0);
}
.play:hover{
  border-color: #0088C3;
  color: #0088C3;
}
.play:hover .exp_l {
  transform: scaleX(1);
  transform-origin: 0% 50%;
  -moz-transition: transform 16s ease-in;
  -webkit-transition: transform 16s ease-in;
  -o-transition: transform 16s ease-in;
  transition: transform 16s ease-in;
}
.play:hover .exp_r {
  transform: scaleX(1);
  transform-origin: 0% 50%;
  -moz-transition: transform 10s ease-in;
  -webkit-transition: transform 10s ease-in;
  -o-transition: transform 10s ease-in;
  transition: transform 10s ease-in;
}
.play:hover + #exp_right{
  background-image:url('background/sys_1.gif');
}
.play:hover + #exp_left{
  background-image:url('background/sys_2.gif');
}

.tooltip {
  position: relative;
  display: inline-block;
  border: #DDDDDD solid 3px;
  border-radius: 50%;
  width:27px;
  height:27px;
  color: #DDDDDD;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: 135%;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
  line-height: 25px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover {
  border-color: #0088C3;
  color: #0088C3;
}

#pro_back{
  background-size: 100%;
  background-position-x:center;
  background-position-y:bottom;
  text-align:end;
  margin:0 auto;
  transition-duration:0.8s;
}

.arrow {
  border: solid #DDDDDD;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px
}

.up {
  transform: rotate(-135deg) translate(0, -50%);
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  float: right;
}
.down {
  transform: rotate(45deg) translate(0, 70%);
  -webkit-transform: rotate(45deg) translate(0, 70%);
  float: right;
}

.left {
  transform: rotate(135deg) translate(-25%, 0);
  -webkit-transform: rotate(135deg) translate(-25%, 0);
}
.right {
  transform: rotate(-45deg) translate(0, -25%);
  -webkit-transform: rotate(-45deg) translate(0, -25%);
}


#toast {
  position:absolute;
  left:5%;
  bottom:0%;
  text-align: left;
  line-height: 30px;
  padding: 5px 10px;
  max-width: 400px;
  background-color: white;
  border-radius : 10px;
  color: black;
  transform: scale(0);
  transform-origin: 0% 80%;
  transition: transform 0.1s;
  z-index: 10000;
}

#toast.reveal {
  display: block;
  transform: scale(1);
}

.dropbtn {
  text-align: left;
  background-color: #ffffff;
  border: solid 3px #DDDDDD;
  color: black;
  font-size:15pt;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  height: 45px;
}
td > .dropdown {
  float: left;
  padding: 2px;
}
td > .dropdown > .dropbtn {
  padding: 2px 10px;
}

.dropbtn span {
  margin-right: 10px;
}

.dropbtn:focus {
  color:#0088C3;
  border-color: #0088C3;
}
.dropbtn:hover{
  color:#0088C3;
  border-color: #0088C3;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropalign{
  display: inline-block;
  height: 45px;
  width: 45px;
  background-size:contain;
  background-repeat:no-repeat;
  color:rgb(0,0,0,0);
  border-radius: 10px;
}
.a_normal{  background-image:url('background/align_none.png');}
.a_normal:hover, .a_normal:focus, .a_normal.clicked{  background-image:url('background/align_none_on.png');}
.a_left{  background-image:url('background/align_left.png');}
.a_left:hover, .a_left:focus, .a_left.clicked{  background-image:url('background/align_left_on.png');}
.a_center{  background-image:url('background/align_center.png');}
.a_center:hover, .a_center:focus, .a_center.clicked{  background-image:url('background/align_center_on.png');}
.a_right{  background-image:url('background/align_right.png');}
.a_right:hover, .a_right:focus, .a_right.clicked{  background-image:url('background/align_right_on.png');}

.dropbtn:hover .arrow, .dropbtn:focus .down {
  border-color: #0088C3;
}
.dropbtn:hover + #toast, .dropbtn:focus + #toast {
  display: block;
  transform: scaleX(1);
}
.dropbtn:focus + .dropdown-content {
  display: block;
}

.dropdown-content {
  cursor: grab;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  min-width: 100px;
  max-height: 390px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dropdown-content:hover {
  display: block;
}
.dropdown-content a {
  font-weight:normal;
  text-align:left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: solid 3px white;
  border-radius: 5px;
  display: block;
}

.dropdown a:hover {
  border-color:#DDDDDD;
  background-color: #DDDDDD;
}
.dropdown a:hover {
  border-color:#DDDDDD;
  background-color: #DDDDDD;
}
.dropdown a.clicked {
  border-color:#0088C3;
}

.hidden {
  display: none;
}

.button {
  display: inline-block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: #0088C3;
  border-radius: 10px;
  border: 2px solid #0088C3;
  font-weight: bold;
}

.button1 {
  position: relative;
}

.button1:hover {
  background-color: #0088C3;
  color: white;
}

.align{
  width:20px;
}
.align:hover{
  width:30px;
}

#font_list{
  position: absolute;
  background: #f1f1f1;
}
#font_dummy{
  height: 44px;
}
#font_list > button{
  padding: 5px 0px 0px 11px;
  font-size: 17px;
  height: auto;
  padding: 4px 6px;
  border-radius: 5px;
  border-width: 2px;
}

.transparent {
  background-color: rgba(0,0,0,0.45);
  text-align: center;
  font-size: 25px;
  font-weight:normal;
  width: 40px;
  height: 40px;
  border: 0;
  color:white;
  text-align:center;
}
.transparent > .arrow{
  border-color: white;
  margin: 1px;
}
.transparent > .arrow.down{
  margin: 5px;
}

.opt_text{
   height:50px;
}
.opt_text > td{
  position:relative;
}
.opt_text > td > font{
  position:absolute;
  font-size:22px;
  left:2%;
}
.opt_text > td > div{
  position:absolute;
  font-size:22px;
  font-weight:bold;
  left:20%;
}
