@charset "utf-8";

@font-face {
  font-family:"a";
  src : url(fonts/야놀자야체.ttf);
  src: url(fonts/야놀자야체.eot),
      url(fonts/야놀자야체.woff2) format("woff2"),
      url(fonts/야놀자야체.woff) format("woff"),
      url(fonts/야놀자야체.ttf) format("truetype");
}
@font-face {
  font-family:"b";
  src: url(fonts/BMDOHYEON.eot),
      url(fonts/BMDOHYEON.woff2) format("woff2"),
      url(fonts/BMDOHYEON.woff) format("woff"),
      url(fonts/BMDOHYEON.ttf) format("truetype");
}
@font-face {
  font-family:"c";
  src: url(fonts/InterparkGothicLight.eot),
      url(fonts/InterparkGothicLight.woff2) format("woff2"),
      url(fonts/InterparkGothicLight.woff) format("woff"),
      url(fonts/InterparkGothicLight.ttf) format("truetype");
}
@font-face {
  font-family:"d";
  src: url(fonts/Aquatico-Regular.eot),
      url(fonts/Aquatico-Regular.woff2) format("woff2"),
      url(fonts/Aquatico-Regular.woff) format("woff"),
      url(fonts/Aquatico-Regular.ttf) format("truetype");
}
@font-face {
  font-family:"e";
  src: url(fonts/Baloo-Regular.eot),
      url(fonts/Baloo-Regular.woff2) format("woff2"),
      url(fonts/Baloo-Regular.woff) format("woff"),
      url(fonts/Baloo-Regular.ttf) format("truetype");
}
@font-face {
  font-family:"f";
  src: url(fonts/02TogeGothic-Light.eot),
      url(fonts/02TogeGothic-Light.woff2) format("woff2"),
      url(fonts/02TogeGothic-Light.woff) format("woff"),
      url(fonts/02TogeGothic-Light.ttf) format("truetype");
}
@font-face {
  font-family:"g";
  src: url(fonts/NikkyouSans.eot),
      url(fonts/NikkyouSans.woff2) format("woff2"),
      url(fonts/NikkyouSans.woff) format("woff"),
      url(fonts/NikkyouSans.ttf) format("truetype");
}
@font-face {
  font-family:"h";
  src: url(fonts/GoJuOn.eot),
      url(fonts/GoJuOn.woff2) format("woff2"),
      url(fonts/GoJuOn.woff) format("woff"),
      url(fonts/GoJuOn.ttf) format("truetype");
}

.drcnt {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#toast {
    position: fixed;
    top: 30%;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

.goldtextcss {
background: #fad56d; /*if no support for background-clip*/
background: radial-gradient(farthest-corner at 40% -5%, #ce9f28 3%, #fad56d 5%, #d67b00 35%, #d67b00 65%, #fad56d 99%, #ce9f28 1000%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.preview_3d_text {
  position:absolute;transform:translate(-50%, -50%);
}

.preload_box {
  position:fixed;opacity:0;z-index:-999;
}
