@charset "utf-8";
/* CSS Document */

.table1{}
.table1 tr{
    border: 1px solid #a9b0ba;
}
.table1 th{
    padding: 0 3px;
    border-left: 1px solid #d1d2d7;
    background: #f4f4f4 url(../images/bg-table1.gif) 0 0 repeat-x;
    font-weight: normal;
    text-align: left;
    letter-spacing: -0.040em;
    vertical-align: middle;
}
.table1 td > div{
    /* height: 29px; */
    padding: 8px 0;
    /* vertical-align: middle; */
}
.table1 tr th:first-child{border: 0;}
.table1 td{
    /* height: 45px; */
    padding: 0;
    border-left: 1px solid #d1d2d7;
    vertical-align: middle;
    text-align: center;
}
.table1 td label{
    display: inline-block;
    padding: 6px 5px;
}
.table1 td div span{
    display: inline-block;
    padding: 6px 0;
}
.table1 textarea{
    width: 98%;
}

.table2{}
.table2 tr{
}
.table2 th{
    padding: 0 5px;
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #dcdcdc;
    background: #f8f8f8;
    font-weight: normal;
    vertical-align: middle;
    line-height: 120%;
}
.table2 td{
    padding: 0 5px;
    /* height: 19px; */
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    text-align: center;
    vertical-align: middle;
    line-height: -20%;
}
.table2 td a.btn-red{
    padding: 0;
    margin: 1px;
    font-size: 11px;
}
.table2 th:first-child, .table2 td:first-child{border-left: 0;}

#all-paper{margin : -10px 0;}
#paper{
	position: relative;
	width: 660px;
	padding-left: 10px;
	height: 97px;
	/* background: url(../images/bg-paper.gif) 0 0 no-repeat; */
	overflow-x: auto;
	overflow-y: hidden;
}
.paper{
	position: relative;
	width: 670px;
	margin: 10px 0;
	padding-left: 30px;
	height: 190px;
	/* background: url(../images/bg-paper2.gif) 20px 0 no-repeat; */
	overflow-x: auto;
	overflow-y: hidden;
}
.paper p{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}
.paper p span{
    display: table-cell;
    width: 13px;
    height: 100%;
    text-align: center;
    word-break: break-all;
    vertical-align: middle;
}
.outer{
	display: table;
	/* width: 690px; */
	height: 105px;
	/* margin-left: 10px; */
}
.inner{
	display: table-cell;
	font-size: 65px;
    font-weight: bold;
	vertical-align: middle;
}
.paper-size{
    position: relative;
    /* width: 50%; */
    height: 30px;
    margin: 0 auto;
    vertical-align: middle;
}
.paper-size .size{
    position: absolute;
    top: 6px;
}
.paper-size > div{
    position: relative;
    margin-left: 170px;
}
.letter-m{
    position: absolute;
    top: 0px;
    left: -60px;
}
.letter-p{
    position: absolute;
    top: 0px;
    right: 50px;
}
.letter-p a, .letter-m a{
    padding: 5px 7px;
}
.size-small, 
.size-big{
    position: absolute;
}{position: absolute;}
.size-small{
    top: 6px;
    left: 0;
}
.size-big{
    top: 6px;
    right: 107px;
}
.bar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f3f3+0,e5e3e3+100 */
	display: block;
	position: relative;
	top: 9px;
	margin-left: 35px;
	width: 350px;
	height: 11px;
	border: 1px solid #e4e2e2;
	border-radius: 10px;
	background: #f4f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f3f3 0%, #e5e3e3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f4f3f3 0%,#e5e3e3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f4f3f3 0%,#e5e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f3f3', endColorstr='#e5e3e3',GradientType=0 ); /* IE6-9 */
}
.bar em{
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #0076be;
    border-radius: 10px;
}
.bar-scroll{
    position: absolute;
    top: 0;
    width: 350px;
    height: 11px;
    left: 0;
}
.bar-scroll img{
	position: relative;
    top: -9px;
    margin-left: -20px;
}
.plank-table > a{
	display: block;
	width: 160px;
	padding: 5px 9px;
	background:url(../images/btn-plank-close.png) 0 0 no-repeat;
}
.plank-table > a.open{background:url(../images/btn-plank-open.png) 0 0 no-repeat;}


.div1{
	position:relative;
	height: 45px;
	margin-top: -1px;
	border: 1px solid #a9b0ba;
	background: #f4f4f4 url(../images/bg-table1.gif) 0 0 repeat-x;
}
.div1 > div{
    padding: 8px;
    vertical-align: middle;
    letter-spacing: -0.040em;
}
.div1 > div span, .div1 > div input[type="text"], .div1 > div input[type="checkbox"]{vertical-align: middle;}
.div1 button{position: absolute;top: 9px;right: 10px;}

.total-group{
    padding: 10px;
    border: 1px solid #ddd;
    background: #f6f6f6;
    text-align: center;
}
.total{font-size: 15px;}