<!DOCTYPE html>
<html lang="ko">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
		<title> 제작상품 미리보기 | 알리네 간판 </title>
		<link rel="stylesheet" href="static/style.css">
		<script src="static/main.js"></script>
	</head>
	<body topmargin="0" leftmargin="0" onload="preview_update();">
		<input id="ssa" type="file" id="directory_upload" webkitdirectory onchange="showTextFile()" hidden=true>
		<div id="pre_text" class="font_preload" style="opacity:0;position:fixed;">
		    <p style="font-family: 'a';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'b';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'c';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'd';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'e';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'f';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'g';font-size:20px">간ㄷ바gG</p>
				<p style="font-family: 'h';font-size:20px">간ㄷ바gG</p>
		</div>
		<div id="toast"></div>
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#aaaaaa" width="600" align="center">
			<tbody>
				<tr>
					<td id="pro_back" colspan="10" bgcolor="#000000" height="400px">
						<div id="preveiw_list" style="position:relative;height:inherit;width:inherit;">
							<div class="goldtextcss" id="preview_text" contenteditable="true" spellcheck="true"
								style="font-family:a;font-size:100px;text-align:center;color:#FAD56D;
								position:absolute;transform:translate(-50%, -50%);z-index:50;left:50%;top:50%;">
								여기에<br>써보세요
							</div>
							<div class="drcnt"
								style="font-family:a;font-size:100px;text-align:center;color:#CE9F2B;
								position:absolute;transform:translate(-50%, -50%);z-index:49;left:50.1%;top:50.2%;">
								여기에<br>써보세요
							</div>
							<div class="drcnt"
								style="font-family:a;font-size:100px;text-align:center;color:#D67B00;
								position:absolute;transform:translate(-50%, -50%);z-index:48;left:50.2%;top:50.4%;">
								여기에<br>써보세요
							</div>
							<div class="drcnt"
								style="font-family:a;font-size:100px;text-align:center;color:#D67B00;
								z-index:47;left:50.3%;top:50.6%;">
								여기에<br>써보세요
							</div>
							<div class="drcnt"
								style="font-family:a;font-size:100px;text-align:center;color:#D67B00;
								position:absolute;transform:translate(-50%, -50%);z-index:46;left:50.4%;top:50.8%;>
								여기에<br>써보세요
							</div>
						</div>
					</td>
				</tr>
				</tbody></table>
			</body>
		</html>
