<!DOCTYPE html>
<html lang="ko">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
		<title> 제작상품 미리보기 | 알리네 간판 </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
			// console.log(parent.document.location.href)
		  if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
				// alert("IE는 지원하지 않습니다!")
		    window.location = 'microsoft-edge:' + parent.document.location.href;
		    setTimeout(function() {
		      window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
		    }, 1);
		  }
		</script>
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="static/dropdown.css">
		<script src="static/main.js"></script>
	</head>
	<body topmargin="0" leftmargin="0" onload="preview_init();change_font('A',kor);">
		<input id="ssa" type="file" id="directory_upload" webkitdirectory onchange="showTextFile()" hidden=true>
		<div id="pre_text" class="preload_box"></div>
		<div id="pre_text2" class="preload_box"></div>
		<div id="pre_text3" class=""></div>
		<div id="pre_text4" class=""></div>
		<div id="pre_text5" class=""></div>
		<div id="pre_text6" class=""></div>
		<div id="pre_img" class="preload_box"></div>
		<table border="0" align="center">
			<tbody>
				<tr>
					<td width="860">
						<div style="position:absolute;height:22px;width:22px;" onclick="show_debug()"></div>
						<img id="exp_main"/>
					</td>
				</tr>
				<tr>
					<td id="pro_back" width="860" height="420">
						<div id="preview_list" style="position:relative;height:inherit;">
							<div id="dev_down" style="position:absolute;" hidden>
								<!-- hidden -->
								<select id="pro_wh" onchange="preview_init();preview_update()">
									<option value="{{title}}" selected>{{title}}</option>
									<option value="a">스카시</option>
									<option value="b">루미</option>
									<option value="c">구로</option>
									<option value="d">고무</option>
									<option value="e">레터링</option>
								</select>
								<select id="pro_aaa" onchange="align_change()">
									<option value="normal" selected>normal</option>
									<option value="nowrap">nowrap</option>
									<option value="pre">pre</option>
									<option value="pre-line">pre-line</option>
									<option value="pre-wrap">pre-wrap</option>
									<option value="break-spaces">break-spaces</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
									<option value="unset">unset</option>
								</select>
								<select id="pro_bbb" onchange="align2_change()">
									<option value="normal" selected>normal</option>
									<option value="break-word">break-word</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
								</select>
							</div>
							<div style="position:absolute;top:42%;width:100%;" bgcolor="#ffffff">
								<button class="dropbtn transparent drcnt" style="float:left;" onclick="select_prev();preview_update();">
									<i class="arrow left"></i>
								</button>
								<button class="dropbtn transparent drcnt" style="float:right;" onclick="select_next();preview_update();">
									<i class="arrow right"></i>
								</button>
							</div>
							<div style="position:absolute;width:100%;bottom:2%;" bgcolor="#ffffff">
								<button id="alarm" class="dropbtn transparent" style="position:absolute;left:0%;display:inline-block;font-size:28px;">
									!
								</button>
								<div id="toast">
									알람이 표출됩니다.
								</div>
								<button id="pro_light" class="dropbtn transparent box for b c hidden" onclick="change_light(this);preview_update();" style="width:140px;text-align:center;margin-right:-15px;">조명 ON
								</button>
									<div class="dropdown">
								  <button class="dropbtn transparent box" style="width:228px;padding-left:15px;text-align:left;">
										<span id="back_img" data-value="ffffff" data-select="백색">배경 변경</span><i class="arrow down"></i>
									</button>
								  <div id="back_dr" class="dropdown-content" style="width:228px;left:14px;">
									</div>
								</div>
							</div>
							<div id="preview_text" class="preview_3d_text" contenteditable="true" spellcheck="true"
								onblur="first_enter();cut_line();preview_update();" onfocus="first_enter();cut_line();preview_update();" onpaste="paste_value()"
								style="font-family:a;font-size:100px;text-align:center;
								position:absolute;transform:translate(-50%, -50%);z-index:50;left:50%;top:50%;">여기에<br>써보세요</div>
						</div>
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="position:relative;padding-left:14px;">
						<div class="dropdown">
						  <button class="dropbtn" style="width:290px;" onclick="font_pop()">
								<span id="pro_font" data-value="A01" data-select="라이터를 켜라">사용 서체</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:290px;">
								<div id="font_list">
									<button id="kor" class="dropbtn clicked" onclick="change_font('A',this);preview_update();" style="text-align:center;">한 글</button>
									<button class="dropbtn" onclick="change_font('B',this);preview_update();" style="text-align:center">영 문</button>
									<button class="dropbtn" onclick="change_font('C',this);preview_update();" style="text-align:center">일본어</button>
									<button class="dropbtn" onclick="change_font('D',this);preview_update();" style="text-align:center">중국어</button>
								</div>
								<div id="font_dummy"></div>
								<a class="clicked" data-value="A01" style="font-family:A01"  onclick="select_itm(pro_font,this);preview_update()">라이터를 켜라</a>
								<a data-value="A02" style="font-family:A02"  onclick="select_itm(pro_font,this);preview_update()">왕의 남자</a>
								<a data-value="A03" style="font-family:A03"  onclick="select_itm(pro_font,this);preview_update()">지구를 구해라</a>
								<a data-value="A04" style="font-family:A04"  onclick="select_itm(pro_font,this);preview_update()">시실리2km</a>
								<a data-value="A05" style="font-family:A05"  onclick="select_itm(pro_font,this);preview_update()">클래식</a>
								<a data-value="A06" style="font-family:A06"  onclick="select_itm(pro_font,this);preview_update()">건축학개론</a>
								<a data-value="A07" style="font-family:A07"  onclick="select_itm(pro_font,this);preview_update()">친절한금자씨</a>
								<a data-value="A08" style="font-family:A08"  onclick="select_itm(pro_font,this);preview_update()">시라노;연애조작단</a>
								<a data-value="A09" style="font-family:A09"  onclick="select_itm(pro_font,this);preview_update()">웰컴투동막골</a>
								<a data-value="A10" style="font-family:A10"  onclick="select_itm(pro_font,this);preview_update()">범죄와의전쟁</a>
								<a data-value="B01" style="font-family:B01"  onclick="select_itm(pro_font,this);preview_update()">Roman Holiday</a>
								<a data-value="B02" style="font-family:B02"  onclick="select_itm(pro_font,this);preview_update()">Tom and Jerry</a>
								<a data-value="B03" style="font-family:B03"  onclick="select_itm(pro_font,this);preview_update()">Fight Clup</a>
								<a data-value="B04" style="font-family:B04"  onclick="select_itm(pro_font,this);preview_update()">Antman</a>
								<a data-value="B05" style="font-family:B05"  onclick="select_itm(pro_font,this);preview_update()">FOREST GUMP</a>
								<a data-value="B06" style="font-family:B06"  onclick="select_itm(pro_font,this);preview_update()">GRAVITY</a>
								<a data-value="B07" style="font-family:B07"  onclick="select_itm(pro_font,this);preview_update()">Schindler's List</a>
								<a data-value="B08" style="font-family:B08"  onclick="select_itm(pro_font,this);preview_update()">MONSTER HUNTER</a>
								<a data-value="B09" style="font-family:B09"  onclick="select_itm(pro_font,this);preview_update()">Hangover</a>
								<a data-value="B10" style="font-family:B10"  onclick="select_itm(pro_font,this);preview_update()">MEMENTO</a>
								<a data-value="C01" style="font-family:C01"  onclick="select_itm(pro_font,this);preview_update()">さよならの夏 </a>
								<a data-value="C02" style="font-family:C02"  onclick="select_itm(pro_font,this);preview_update()">嫌われ松子の一生</a>
								<a data-value="C03" style="font-family:C03"  onclick="select_itm(pro_font,this);preview_update()">ホタルノヒカリ</a>
								<a data-value="C04" style="font-family:C04"  onclick="select_itm(pro_font,this);preview_update()">スウィングガールズ</a>
								<a data-value="C05" style="font-family:C05"  onclick="select_itm(pro_font,this);preview_update()">のだめカンタービレ</a>
								<a data-value="C06" style="font-family:C06"  onclick="select_itm(pro_font,this);preview_update()">七人の侍 </a>
								<a data-value="C07" style="font-family:C07"  onclick="select_itm(pro_font,this);preview_update()">ドラゴン桜 </a>
								<a data-value="D01" style="font-family:D01"  onclick="select_itm(pro_font,this);preview_update()">少林足球</a>
								<a data-value="D02" style="font-family:D02"  onclick="select_itm(pro_font,this);preview_update()">千王之王</a>
						  </div>
						</div>
						<div class="dropdown for a">
						  <button class="dropbtn" style="width:190px;">
								<span id="acr" class="pro_color" data-value="EDEAC9,F6F3EC,D4D1CA" data-select="백색 아크릴">백색 아크릴</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:190px;">
								<a data-value="EDEAC9,F6F3EC,D4D1CA" onclick="select_itm(acr,this);preview_update()">백색 아크릴</a>
								<a data-value="000000,383C46,1F1B23" onclick="select_itm(acr,this);preview_update()">흑색 아크릴</a>
								<a data-value="E6E1DD,EDE8E4,8C8D8F" onclick="select_itm(acr,this);preview_update()">실버미러 아크릴</a>
								<a data-value="FCE587,FDF2BA,D8B245" onclick="select_itm(acr,this);preview_update()">골드미러 아크릴</a>
						  </div>
						</div>
						<div class="dropdown for d">
						  <button class="dropbtn" style="width:190px;">
								<span id="gomu" class="pro_color" data-value="EDEAC9,F6F3EC,D4D1CA" data-select="백색 판">백색 판</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:190px;">
								<a data-value="EDEAC9,F6F3EC,D4D1CA" onclick="select_itm(gomu,this);preview_update()">백색 판</a>
								<a data-value="000000,383C46,1F1B23" onclick="select_itm(gomu,this);preview_update()">흑색 판</a>
								<a data-value="E6E1DD,EDE8E4,8C8D8F" onclick="select_itm(gomu,this);preview_update()">실버 판</a>
								<a data-value="FCE587,FDF2BA,D8B245" onclick="select_itm(gomu,this);preview_update()">골드 판</a>
						  </div>
						</div>
						<div class="dropdown for e">
						  <button class="dropbtn" style="width:190px;">
								<span id="ltr" class="pro_color" data-value="EDEAC9,F6F3EC,D4D1CA" data-select="백색">백색</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:190px;">
								<a data-value="EDEAC9,F6F3EC,D4D1CA" onclick="select_itm(ltr,this);preview_update()">백색</a>
								<a data-value="000000,383C46,1F1B23" onclick="select_itm(ltr,this);preview_update()">흑색</a>
								<a data-value="E6E1DD,EDE8E4,8C8D8F" onclick="select_itm(ltr,this);preview_update()">실버</a>
								<a data-value="FCE587,FDF2BA,D8B245" onclick="select_itm(ltr,this);preview_update()">골드</a>
						  </div>
						</div>
						<div class="dropdown">
						  <button class="dropbtn" style="width:110px;">
								<span id="pro_size" data-value="10" data-select="10cm">10cm</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:110px;" onclick="cut_line();preview_update();">
								<a class="dropdown for e" data-value="2" onclick="select_itm(pro_size,this);font_resize();preview_update();">2cm</a>
								<a class="dropdown for a d e" data-value="4" onclick="select_itm(pro_size,this);font_resize();preview_update();">4cm</a>
								<a class="dropdown for a b d" data-value="5" onclick="select_itm(pro_size,this);font_resize();preview_update();">5cm</a>
								<a class="dropdown for a d e" data-value="6" onclick="select_itm(pro_size,this);font_resize();preview_update();">6cm</a>
								<a class="dropdown for a d e" data-value="8" onclick="select_itm(pro_size,this);font_resize();preview_update();">8cm</a>
								<a class="dropdown for a b c d e" data-value="10" onclick="select_itm(pro_size,this);font_resize();preview_update();">10cm</a>
								<a class="dropdown for a b d e" data-value="15" onclick="select_itm(pro_size,this);font_resize();preview_update();">15cm</a>
								<a class="dropdown for a b c d e" data-value="20" onclick="select_itm(pro_size,this);font_resize();preview_update();">20cm</a>
								<a class="dropdown for c" data-value="30" onclick="select_itm(pro_size,this);font_resize();preview_update();">30cm</a>
							</div>
						</div>
						<div class="dropdown for b c">
						  <button class="dropbtn" style="width:130px;">
								<span id="side_deco" data-value="none" data-select="없음">부가 효과</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:130px;">
								<a data-value="none" onclick="select_itm(side_deco,this);preview_update()">없음</a>
								<a data-value="underL" onclick="select_itm(side_deco,this);preview_update()">밑줄</a>
								<a data-value="borderL" onclick="select_itm(side_deco,this);preview_update()">테두리</a>
							</div>
						</div>
						<div class="dropdown drcnt" style="float: right;margin-left:21px;width:fit-content;">
							<span hidden id="pro_align" data-value="center" data-select="중">정렬</span>
							<a class="dropalign a_normal clicked" data-value="justify" onclick="select_itm(pro_align,this);preview_update()">평</a>
							<a class="dropalign a_left" data-value="left" onclick="select_itm(pro_align,this);preview_update()">좌</a>
							<a class="dropalign a_center" data-value="center" onclick="select_itm(pro_align,this);preview_update()">중</a>
							<a class="dropalign a_right" data-value="right" onclick="select_itm(pro_align,this);preview_update()">우</a>
						</div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="position:relative;padding-left:14px;">
						<div class="dropdown for c">
						  <button class="dropbtn" style="width:190px;">
								<span id="guro" class="pro_color" data-value="EDEAC9,F6F3EC,D4D1CA" data-select="백색 판">백색 판</span><i class="arrow down"></i>
							</button>
						  <div class="dropdown-content" style="width:190px;">
								<a data-value="EDEAC9,F6F3EC,D4D1CA" onclick="select_itm(guro,this);preview_update()">백색 판</a>
								<a data-value="000000,383C46,1F1B23" onclick="select_itm(guro,this);preview_update()">흑색 판</a>
								<a data-value="E6E1DD,EDE8E4,8C8D8F" onclick="select_itm(guro,this);preview_update()">실버 판</a>
								<a data-value="FCE587,FDF2BA,D8B245" onclick="select_itm(guro,this);preview_update()">골드 판</a>
						  </div>
						</div>
						<div class="dropdown for b">
							<button class="dropbtn" style="width:100px;">
								<span id="pro_color_LED" data-value="ffffff" data-select="백색">LED</span><i class="arrow down"></i>
							</button>
							<div class="dropdown-content" style="width:100px;">
								<a data-value="ffffff" onclick="select_itm(pro_color_LED,this);preview_update()">백색</a>
								<a data-value="ffd400" onclick="select_itm(pro_color_LED,this);preview_update()">노랑</a>
								<a data-value="ff0000" onclick="select_itm(pro_color_LED,this);preview_update()">적색</a>
								<a data-value="0067a3" onclick="select_itm(pro_color_LED,this);preview_update()">청색</a>
								<a data-value="008000" onclick="select_itm(pro_color_LED,this);preview_update()">녹색</a>
								<a data-value="ee2b6e" onclick="select_itm(pro_color_LED,this);preview_update()">핑크</a>
							</div>
						</div>
						<div class="dropdown for b">
							<button class="dropbtn" style="width:100px;">
								<span id="side_color_on" data-value="ffffff" data-select="투명">투명</span><i class="arrow down"></i>
							</button>
							<div class="dropdown-content" style="width:100px;">
								<a data-value="none" onclick="select_itm(side_color_on,this);preview_update()">없음</a>
								<a data-value="ffffff" onclick="select_itm(side_color_on,this);preview_update()">투명</a>
								<a data-value="ffd400" onclick="select_itm(side_color_on,this);preview_update()">노랑</a>
								<a data-value="ff0000" onclick="select_itm(side_color_on,this);preview_update()">적색</a>
								<a data-value="0067a3" onclick="select_itm(side_color_on,this);preview_update()">청색</a>
								<a data-value="008000" onclick="select_itm(side_color_on,this);preview_update()">녹색</a>
								<a data-value="ee2b6e" onclick="select_itm(side_color_on,this);preview_update()">핑크</a>
								<a data-value="660099" onclick="select_itm(side_color_on,this);preview_update()">자주</a>
								<a data-value="ff7f00" onclick="select_itm(side_color_on,this);preview_update()">주황</a>
							</div>
						</div>
						<div class="dropdown for b">
							<button class="dropbtn" style="width:110px;">
								<span id="side_color_off" data-value="ffffff" data-select="흰색">불투명</span><i class="arrow down"></i>
							</button>
							<div class="dropdown-content" style="width:110px;">
								<a data-value="ffffff" onclick="select_itm(side_color_off,this);preview_update()">흰색</a>
								<a data-value="000000" onclick="select_itm(side_color_off,this);preview_update()">검정색</a>
							</div>
						</div>
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr class="opt_text">
					<td>
						<font class="drcnt">제작 문구</font>
						<div>
							<span id="btext">문구</span>
							<input class="button button1" type="button" value="복사하기" onclick="copyIt('문구를','btext')">
						</div>
					</td>
				</tr>
				<tr class="opt_text">
					<td>
						<font class="drcnt">제작 옵션</font>
						<div>
							<span id="boption">색/서체/크기</span>
							<input class="button button1" type="button" value="복사하기" onclick="copyIt('옵션을','boption')">
						</div>
					</td>
				</tr>
				<tr style="height:80px;">
					<td style="position:relative;vertical-align: bottom;">
						<font style="font-size:25px;position:absolute;left:30px;">
							<font class="drcnt" style="font-weight:bold;">수량</font><font class="drcnt"> ( 견적금액 )</font>
							<div class="tooltip drcnt">?
							  <span class="tooltiptext">제작 문구와 옵션을 옮겨 적으시고<br>수량을 붙여 넣어주세요!</span>
							</div>
						</font>
						<div style="position:relative;float:right;left:0%;">
							<input class="button button1" type="button" value="복사하기" onclick="copyIt('수량을','bcount')">
							<font style="font-size:25px;"><span id="bcount" style="font-weight:bold;">0</span><font class="drcnt" style="font-weight:bold;"> 개 </font>
							<span class="drcnt">( </span><span class="drcnt" id="btotal">0</span><span class="drcnt"> 원 )</span></font>
						</div>
					</td>
				</tr>
				<tr style="height:20px;vertical-align:bottom;">
			    <td>
						<div style="margin-left:30px;border-bottom:#DDDDDD 1px solid;">
						</div>
					</td>
			  </tr>
				<tr style="height:10px;vertical-align:bottom;">
					<td style="font-size:18px;line-height:25px;position:relative;">
						<font class="drcnt" color="black" style="left:30px;position:absolute;">제작 문구와 옵션을 구매 입력란에 기재하시고, 수량을 맞추어 주문하시면 설정하신 상품을 결제할 수 있습니다.
						<br/> 자세한 사용 방법은 아래 사용안내를 참고하세요.</font>
					</td>
				</tr>
				</tbody>
			</table>
			<table align="center" style="margin-top:180px;position:relative;width:860px">
				<tbody>
					<tr>
						<td colspan="2">
							<img id="exp_title"/>
						</td>
					</tr>
					<tr>
						<td class="drcnt" align="center" style="width:49%;">
							<div class="exp_case">
								<div class="play play_l">마우스를 올려보세요<div class="exp exp_l">a</div></div>
								<div id="exp_left"></div>
							</div>
							<br/>
							<span style="font-weight:bold;font-size:22px;">제작을 원하시는 문구를 입력해보세요</span>
							<br/><br/>
							<span style="line-height:25px;font-size:17px;">견적 프로그램은 다양한 언어와 폰트를 제공합니다
							<br/>옵션을 변경해가며 제품을 확인해보세요</span>
						</td>
						<td class="drcnt" align="center" style="width:51%;">
							<div class="exp_case">
								<div class="play play_r">마우스를 올려보세요
									<div class="exp exp_r">a</div>
								</div>
								<div id="exp_right"></div>
							</div>
							<br/>
							<span style="font-weight:bold;font-size:22px;">선택한 옵션을 구매항목에 옮겨보세요</span>
							<br/><br/>
							<span style="line-height:25px;font-size:17px;">선택한 옵션과 구매수량을 구매옵션에
							<br/>등록하시면 견적에 맞춰 구매하실 수 있습니다</span>
						</td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>
