<!DOCTYPE html>
<html lang="ko">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
		<title> 제작상품 미리보기 | 알리네 간판 </title>
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="static/dropdown.css">
		<script src="static/main.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body topmargin="0" leftmargin="0" onload="change_font('A',this);preview_update();">
		<input id="ssa" type="file" id="directory_upload" webkitdirectory onchange="showTextFile()" hidden=true>
		<div id="pre_text" class="preload_box">		</div>
		<div id="pre_img" class="preload_box">		</div>
		<div id="toast"></div>
		<table border="0" cellpadding="1" cellspacing="1" align="center">
			<tbody>
				<tr id="back_view" bgcolor="#ffffff" height="30">
					<td colspan="5">
						종류
						<select id="pro_wh" onchange="preview_update()">
							<option value="a">스카시</option>
							<option value="b" selected>루미</option>
							<option value="c">구로</option>
						</select>
					</td>
					<td id="pro_light" colspan="1" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">
						조명 <input type="checkbox" id="light_on" onchange="preview_update()">
					</td>
					<td colspan="4" bgcolor="#ffffff">
						<select id="back_option" onchange="preview_update()">
						</select>
					</td>
				</tr>
				<tr>
					<td id="pro_back" colspan="8" bgcolor="#ffffff" width="1020" height="490">
						<div id="preview_list" style="position:relative;height:inherit;width:inherit;">
							<div id="preview_text" class="preview_3d_text" contenteditable="true" spellcheck="true"
								onblur="first_enter();preview_update();" onfocus="first_enter();preview_update();" onkeydown="preview_update()" onkeyup="preview_update()" onpaste="paste_value()"
								style="font-family:a;font-size:100px;text-align:center;
								position:absolute;transform:translate(-50%, -50%);z-index:50;left:50%;top:50%;">
								여기에<br>써보세요
							</div>
						</div>
					</td>
				</tr>
				<tr height="50px">
					<td bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="pro_color" data-value="EDEAC9,F6F3EC,D4D1CA" data-select="백색 아크릴">색상</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="EDEAC9,F6F3EC,D4D1CA" onclick="select_itm(pro_color,this);preview_update()">백색 아크릴</a>
								<a data-value="000000,383C46,1F1B23" onclick="select_itm(pro_color,this);preview_update()">흑색 아크릴</a>
								<a data-value="E6E1DD,EDE8E4,8C8D8F" onclick="select_itm(pro_color,this);preview_update()">실버미러 아크릴</a>
								<a data-value="FCE587,FDF2BA,D8B245" onclick="select_itm(pro_color,this);preview_update()">골드미러 아크릴</a>
						  </div>
						</div>
					</td>
					<td bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="pro_font" data-value="A01" data-select="라이터를 켜라">서체</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<div id="font_list">
									<button class="dropbtn_clicked" onclick="change_font('A',this)" style="text-align:center">한글</button>
									<button class="dropbtn" onclick="change_font('B',this)" style="text-align:center">영문</button>
								</div>
								<a data-value="A01" style="font-family:A01"  onclick="select_itm(pro_font,this);preview_update()">라이터를 켜라</a>
								<a data-value="A02" style="font-family:A02"  onclick="select_itm(pro_font,this);preview_update()">왕의 남자</a>
								<a data-value="A03" style="font-family:A03"  onclick="select_itm(pro_font,this);preview_update()">지구를 구해라</a>
								<a data-value="A04" style="font-family:A04"  onclick="select_itm(pro_font,this);preview_update()">시실리2km</a>
								<a data-value="A05" style="font-family:A05"  onclick="select_itm(pro_font,this);preview_update()">클래식</a>
								<a data-value="A06" style="font-family:A06"  onclick="select_itm(pro_font,this);preview_update()">건축학개론</a>
								<a data-value="A07" style="font-family:A07"  onclick="select_itm(pro_font,this);preview_update()">친절한금자씨</a>
								<a data-value="A08" style="font-family:A08"  onclick="select_itm(pro_font,this);preview_update()">시라노;연애조작단</a>
								<a data-value="A09" style="font-family:A09"  onclick="select_itm(pro_font,this);preview_update()">웰컴투동막골</a>
								<a data-value="A10" style="font-family:A10"  onclick="select_itm(pro_font,this);preview_update()">범죄와의 전쟁</a>
								<a data-value="B01" style="font-family:B01"  onclick="select_itm(pro_font,this);preview_update()">Roman Holiday</a>
								<a data-value="B02" style="font-family:B02"  onclick="select_itm(pro_font,this);preview_update()">Tom and Jerry</a>
								<a data-value="B03" style="font-family:B03"  onclick="select_itm(pro_font,this);preview_update()">Fight Clup</a>
								<a data-value="B04" style="font-family:B04"  onclick="select_itm(pro_font,this);preview_update()">Antman</a>
								<a data-value="B05" style="font-family:B05"  onclick="select_itm(pro_font,this);preview_update()">FOREST GUMP</a>
								<a data-value="B06" style="font-family:B06"  onclick="select_itm(pro_font,this);preview_update()">GRAVITY</a>
								<a data-value="B07" style="font-family:B07"  onclick="select_itm(pro_font,this);preview_update()">Schindler's List</a>
								<a data-value="B08" style="font-family:B08"  onclick="select_itm(pro_font,this);preview_update()">MONSTER HUNTER</a>
								<a data-value="B09" style="font-family:B09"  onclick="select_itm(pro_font,this);preview_update()">Hangover</a>
								<a data-value="B10" style="font-family:B10"  onclick="select_itm(pro_font,this);preview_update()">MEMENTO</a>
						  </div>
						</div>
					</td>
					<td bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="pro_size" data-value="40" data-select="8cm">글자 높이</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="20" onclick="select_itm(pro_size,this);preview_update()">4cm</a>
								<a data-value="25" onclick="select_itm(pro_size,this);preview_update()">5cm</a>
								<a data-value="30" onclick="select_itm(pro_size,this);preview_update()">6cm</a>
								<a data-value="40" onclick="select_itm(pro_size,this);preview_update()">8cm</a>
								<a data-value="50" onclick="select_itm(pro_size,this);preview_update()">10cm</a>
								<a data-value="75" onclick="select_itm(pro_size,this);preview_update()">15cm</a>
								<a data-value="100" onclick="select_itm(pro_size,this);preview_update()">20cm</a>
							</div>
						</div>
					</td>
					<td bgcolor="#ffffff">
						<div class="dropdown">
								<span hidden id="pro_align" data-value="center" data-select="중">정렬</span>
								<a data-value="left" onclick="select_itm(pro_align,this);preview_update()"><img class="align" src="static/background/align_left.jpg"> </img></a>
								<a data-value="center" onclick="select_itm(pro_align,this);preview_update()"><img class="align" src="static/background/align_centor.jpg"> </img></a>
								<a data-value="right" onclick="select_itm(pro_align,this);preview_update()"><img class="align" src="static/background/align_right.jpg"> </img></a>
						</div>
					</td>
				</tr>
				<tr height="50px">
					<td bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="pro_color_LED" data-value="ffffff" data-select="백색">LED</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="ffffff" onclick="select_itm(pro_color_LED,this);preview_update()">백색</a>
								<a data-value="ffd400" onclick="select_itm(pro_color_LED,this);preview_update()">노랑</a>
								<a data-value="ff0000" onclick="select_itm(pro_color_LED,this);preview_update()">적색</a>
								<a data-value="0067a3" onclick="select_itm(pro_color_LED,this);preview_update()">청색</a>
								<a data-value="008000" onclick="select_itm(pro_color_LED,this);preview_update()">녹색</a>
								<a data-value="ee2b6e" onclick="select_itm(pro_color_LED,this);preview_update()">핑크</a>
							</div>
						</div>
					</td>
					<td bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="side_color_on" data-value="ffffff" data-select="백색">투명</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="none" onclick="select_itm(side_color_on,this);preview_update()">없음</a>
								<a data-value="ffffff" onclick="select_itm(side_color_on,this);preview_update()">투명</a>
								<a data-value="ffd400" onclick="select_itm(side_color_on,this);preview_update()">노랑</a>
								<a data-value="ff0000" onclick="select_itm(side_color_on,this);preview_update()">적색</a>
								<a data-value="0067a3" onclick="select_itm(side_color_on,this);preview_update()">청색</a>
								<a data-value="008000" onclick="select_itm(side_color_on,this);preview_update()">녹색</a>
								<a data-value="ee2b6e" onclick="select_itm(side_color_on,this);preview_update()">핑크</a>
								<a data-value="660099" onclick="select_itm(side_color_on,this);preview_update()">자주</a>
								<a data-value="ff7f00" onclick="select_itm(side_color_on,this);preview_update()">주황</a>
							</div>
						</div>
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="side_color_off" data-value="ffffff" data-select="흰색">불투명</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="ffffff" onclick="select_itm(side_color_off,this);preview_update()">흰색</a>
								<a data-value="000000" onclick="select_itm(side_color_off,this);preview_update()">검정색</a>
							</div>
						</div>
					</td>
					<td width="100" bgcolor="#ffffff">
						<div class="dropdown">
						  <button class="dropbtn">
								<span id="side_deco" data-value="none" data-select="없음">부가 효과</span><i class="arrow down"></i>
							</button>
						  <div id="myDropdown" class="dropdown-content">
								<a data-value="none" onclick="select_itm(side_deco,this);preview_update()">없음</a>
								<a data-value="underL" onclick="select_itm(side_deco,this);preview_update()">밑줄</a>
								<a data-value="borderL" onclick="select_itm(side_deco,this);preview_update()">테두리</a>
							</div>
						</div>
					</td>
				</tr>
				<tr height="50px">
					<td>
						<font class="drcnt" color="black"  style="font-weight:bold;">제작 문구</font>
					</td>
					<td colspan="10">
						<span id="btext" style="font-weight:bold;">문구</span>
							<input class="button button1" type="button" value="복사하기" onclick="copyIt('btext')">
						</td>
				</tr>
				<tr height="50px">
					<td>
					<font class="drcnt" color="black" style="font-weight:bold;">제작 옵션</font>
				</td>
				<td colspan="10">
					<span id="boption" style="font-weight:bold;">색/서체/크기</span>
						<input class="button button1" type="button" value="복사하기" onclick="copyIt('boption')">
					</td>
				</tr>
				<tr height="60px" style="font-size:20px;">
					<td colspan="2">
						<font class="drcnt" style="font-weight:bold;">수량 </font><font class="drcnt">( 견적금액 )</font>
					</td>
					<td align="right" colspan="3">
						<input class="button button1" type="button" value="복사하기" onclick="copyIt('bcount')">
						<font style="font-weight:bold;"><span id="bcount">0</span></font>
						<font class="drcnt" style="font-weight:bold;"> 개 </font>
						<font> ( <span id="btotal">0</span> 원 )</font>
					</td>
				</tr>
				<tr>
					<td colspan="10">
					<font class="drcnt" color="black">제작 문구와 제작 옵션을 상품입력란에 기재하시고, 수량을 맞추어 주문하시면 설정하신 상품을 결제할 수 있습니다.</font>
					<br>
					<font class="drcnt" color="black">자세한 사용 방법은 아래 설명란을 참고하세요.</font>
					</td>
				</tr>
				</tbody></table>
			</body>
		</html>
