<!DOCTYPE html>
<html lang="ko">
	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="imagetoolbar" content="no">
		<meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
		<title> 제작상품 미리보기 | 알리네 간판 </title>
		<link rel="stylesheet" href="static/style.css">
		<script src="static/main.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body topmargin="0" leftmargin="0" onload="preview_update();">
		<input id="ssa" type="file" id="directory_upload" webkitdirectory onchange="showTextFile()" hidden=true>
		<div id="pre_text" class="preload_box">		</div>
		<div id="pre_img" class="preload_box">		</div>
		<div id="toast"></div>
		<table border="0" cellpadding="1" cellspacing="1" bgcolor="#aaaaaa" align="center">
			<tbody>
				<tr id="back_view" bgcolor="#ffffff" height="30">
					<td colspan="5">
						종류
						<select id="pro_wh" onchange="preview_update()">
							<option value="a">스카시</option>
							<option value="b" selected>루미</option>
							<option value="c">구로</option>
						</select>
					</td>
					<td id="pro_light" colspan="1" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">
						조명 <input type="checkbox" id="light_on" onchange="preview_update()">
					</td>
					<td colspan="4" bgcolor="#ffffff" align="left">
						<select id="back_option" onchange="preview_update()">
						</select>
					</td>
				</tr>
				<tr>
					<td id="pro_back" colspan="8" bgcolor="#ffffff" width="1020" height="490">
						<div id="preview_list" style="position:relative;height:inherit;width:inherit;">
							<div id="preview_text" class="preview_3d_text" contenteditable="true" spellcheck="true"
								onblur="first_enter();preview_update();" onfocus="first_enter();preview_update();" onkeydown="preview_update()" onkeyup="preview_update()" onpaste="paste_value()"
								style="font-family:a;font-size:100px;text-align:center;
								position:absolute;transform:translate(-50%, -50%);z-index:50;left:50%;top:50%;">
								여기에<br>써보세요
							</div>
						</div>
					</td>
				</tr>
				<tr height="30">
					<td colspan="1" width="100" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">소재 색상</td>
					<td colspan="1" bgcolor="#ffffff" align="left">
						<span id="pro_color_span">
							<select id="pro_color" onchange="preview_update()">
								// 메인,밝음,어두움
								<option value="EDEAC9,F6F3EC,D4D1CA" selected>백색 아크릴</option>
								<option value="000000,383C46,1F1B23">흑색 아크릴</option>
								<option value="E6E1DD,EDE8E4,8C8D8F">실버미러 아크릴</option>
								<option value="FCE587,FDF2BA,D8B245">골드미러 아크릴</option>
							</select>
						</span>
					</td>
					<td colspan="1"bgcolor="#f0f0f0" align="center" style="font-weight:bold;">서체</td>
					<td colspan="1" bgcolor="#ffffff" align="left">
						<select id="pro_font" onchange="preview_update()">
							<option value="A01" selected>라이터를 켜라</option>
							<option value="A02">왕의 남자</option>
							<option value="A03">지구를 구해라</option>
							<option value="A04">시실리2km</option>
							<option value="A05">클래식</option>
							<option value="A06">건축학개론</option>
							<option value="A07">친절한금자씨</option>
							<option value="A08">시라노;연애조작단</option>
							<option value="A09">웰컴투동막골</option>
							<option value="A10">범죄와의 전쟁</option>
							<option value="B01">Roman Holiday(영)</option>
							<option value="B02">Tom and Jerry(영)</option>
							<option value="B03">Fight Clup(영)</option>
							<option value="B04">Antman(영)</option>
							<option value="B05">FOREST GUMP(영)</option>
							<option value="B06">GRAVITY(영)</option>
							<option value="B07">Schindler's List(영)</option>
							<option value="B08">MONSTER HUNTER(영)</option>
							<option value="B09">Hangover(영)</option>
							<option value="B10">MEMENTO(영)</option>
						</select>
					</td>
					<td colspan="1" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">글자 높이</td>
					<td colspan="1" bgcolor="#ffffff" align="left">
						<select id="pro_size" onchange="preview_update()">
							<option value="20">4cm</option>
							<option value="25" selected>5cm</option>
							<option value="30">6cm</option>
							<option value="40">8cm</option>
							<option value="50">10cm</option>
							<option value="75">15cm</option>
							<option value="100">20cm</option>
						</select>
					</td>
					<td colspan="1" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">정렬</td>
					<td colspan="1" bgcolor="#ffffff" align="left">
						<select id="pro_align" onchange="preview_update()">
							<option value="left">왼쪽</option>
							<option value="center" selected>가운데</option>
							<option value="right">오른쪽</option>
						</select>
					</td>
				</tr>
				<tr height="30">
					<td width="100" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">LED</td>
					<td width="100" bgcolor="#ffffff" align="left">
						<select id="pro_color_LED" style="font-size:12;" onchange="preview_update()">
							<option value="ffffff" selected="">백색</option>
							<option value="ffd400">노랑</option>
							<option value="ff0000">적색</option>
							<option value="0067a3">청색</option>
							<option value="008000">녹색</option>
							<option value="ee2b6e">핑크</option>
						</select>
					</td>
					<td width="100" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">
						측면 투광 <input type="checkbox" id="side_on" name="side_on" onchange="preview_update()" checked="true">
					</td>
					<td width="100" bgcolor="#ffffff" align="left">
						<select id="side_color_on" style="font-size:12;" onchange="preview_update()">
							<option value="ffffff" selected="">백색</option>
							<option value="ffd400">노랑</option>
							<option value="ff0000">적색</option>
							<option value="0067a3">청색</option>
							<option value="008000">녹색</option>
							<option value="ee2b6e">핑크</option>
							<option value="660099">자주</option>
							<option value="ff7f00">주황</option>
						</select>
						<select id="side_color_off" style="font-size:12;" onchange="preview_update()">
							<option value="ffffff" selected="">흰색</option>
							<option value="000000">검정색</option>
						</select>
					</td>
					<td width="100" bgcolor="#f0f0f0" align="center" style="font-weight:bold;">
						추가효과
					</td>
					<td width="100" bgcolor="#ffffff" align="left">
						<select id="side_deco" style="font-size:12;" onchange="preview_update()">
							<option value="none" selected="">미적용</option>
							<option value="underL">밑줄</option>
							<option value="borderL">테두리</option>
						</select>
					</td>
				</tr>
				<tr>
					<td align="center" colspan="10" height="100" bgcolor="#686868" style="font-size:18px;">
						<font color="#FFFFFF">합계 : &nbsp;<span id="btotal">0</span>&nbsp; 원</font>
						<br>
						<br> <font class="drcnt" size="2" color="white">제작 문구에 </font>
						<font color="yellow"><span id="btext">문구</font><font class="drcnt" size="2" color="white">를 입력하시고</font>
							<input type="button" value="복사하기" onclick="copyIt('btext')">
						<br class="drcnt"> <font class="drcnt" size="2" color="white">제작 옵션에 </font>
						<font color="yellow"><span id="boption">색/서체/크기</font><font class="drcnt" size="2" color="white">를 입력해주세요</font>
							<input type="button" value="복사하기" onclick="copyIt('boption')">
						<br class="drcnt">
						<font class="drcnt" size="2" color="white">견적금액에 맞춰</font>
						<font class="drcnt" size="2" color="white">구매수량 (</font>
						<font color="yellow"><span id="bcount">0</span></font>
						<font class="drcnt" size="2" color="white"><span> )개</span></font><font class="drcnt" size="2" color="white">로 결제해주세요.</font>
							<input type="button" value="복사하기" onclick="copyIt('bcount')">
					</td>
					</tr>
				</tbody></table>
			</body>
		</html>
