<!-- https://datatables.net/ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    document.cookie = "safeCookie1=foo; SameSite=Lax";
    document.cookie = "safeCookie2=foo";
    document.cookie = "crossCookie=bar; SameSite=None; Secure";
  	//Only needed for the filename of export files.
  	//Normally set in the title tag of your page.
  	document.title='알리네_키워드 생성';
  	// DataTable initialisation

    var table_arr = {"each":[
      $('#csv_table').DataTable( {
        dom: 'Bfrtip',
        colReorder: true,
        select: {toggleable: true},
        buttons: [
        {   action: function ( e, dt, button, config ) {location.reload();},
        text: '키워드 재확인'},
        {extend: 'colvis',text: '열 선택',},
        {extend: 'colvisRestore',text: '열 복구',},
        'csv',
        {text: '키워드 추가',attr:{id:'addRow'}},
        {text: '키워드 삭제',attr:{id:'delRow'}     },
        {text: '키워드 지정',attr:{id:'keepRow'}},
        ]
      })
      ,$('#add_table').DataTable( {
        dom: 'Bfrtip',
        select: {toggleable: true},
        buttons: [
          {   action: function ( e, dt, button, config ) {location.reload();},
              text: '키워드 재확인'},
          'csv',
          {text: '키워드 지정제외',attr:{id:'delRow_m'}},
        ]
      })
      ,$('#del_table').DataTable( {
        dom: 'Bfrtip',
        colReorder: true,
        select: {toggleable: true},
        buttons: [
          {   action: function ( e, dt, button, config ) {location.reload();},
              text: '키워드 재확인'},
          'csv',
          {text: '키워드 복구',attr:{id:'delRow_d'}},
        ]
      })
    ]}

    var table=table_arr.each[0];
    var table_m=table_arr.each[1];
    var table_d=table_arr.each[2];
    $('#addRow').on( 'click', function () {
      var new_key = $('input[type="search"]').val();
      var flag_key = table.column(1).data().indexOf(new_key)<0;
      if (new_key=="") {alert("값이 비어있습니다")
      } else if (flag_key) {  table.row.add( ['지정',new_key,'','',''] ).draw( false );
      } else {alert("이미 있는 키워드입니다")}} );
    $('#delRow').on( 'click', function () {
      var rows = table.rows( '.selected' ).remove().draw();} );

    $('#delRow_m').on( 'click', function () {
      var rows = table_m.rows( '.selected' ).remove().draw();} );

    $('#delRow_d').on( 'click', function () {
      var rows = table_d.rows( '.selected' ).remove().draw();} );
  })

  function toggleDiv(e) {
    var x = document.getElementsByClassName('t_key');
    txt=$(e).prop('value')
    if (txt=="전체") {
      x[0].style.display = "block";
      x[1].style.display = "none";
      x[2].style.display = "none";
      $(e).prop('value',"지정/제외")
    } else {
      x[0].style.display = "none";
      x[1].style.display = "block";
      x[2].style.display = "block";
      $(e).prop('value',"전체")
    }
  }

  $.ajax({
    url: 'static/my.csv',
    dataType: 'text',
  }).done(successFunction);
  function successFunction(data) {
    var allRows = data.split(/\r?\n|\r/);
    var table = '<table id="csv_table" class="display">';
    for (var singleRow = 0; singleRow < allRows.length; singleRow++) {
      if (singleRow === 0) {
        table += '<thead>';
        table += '<tr>';
      } else {
        table += '<tr>';
      }
      var rowCells = allRows[singleRow].split(',');
      for (var rowCell = 0; rowCell < rowCells.length; rowCell++) {
        if (singleRow === 0) {
          table += '<th>';
          table += rowCells[rowCell];
          table += '</th>';
        } else {
          table += '<td>';
          table += rowCells[rowCell];
          table += '</td>';
        }
      }
      if (singleRow === 0) {
        table += '</tr>';
        table += '</thead>';
        table += '<tbody>';
      } else {
        table += '</tr>';
      }
    }
    table += '</tbody>';
    table += '</table>';
    $('body').append(table);
  }
</script>
<style>
  body {margin:2em;}
</style>

<div>
  <input type="button" value="지정/제외" onclick="toggleDiv(this)">
</div>
<div class="t_key" style="display:block">키워드 확인
  <table id="csv_table" class="display">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>

<table id="example" class="display"></table>
<div class="t_key" style="display:none">지정 키워드
  <table id="add_table" class="display">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>

<div class="t_key" style="display:none">제외 키워드
  <table id="del_table" class="display">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>
