<!-- https://datatables.net/ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<style>
  .side_dt {
    display:inline-block;
  }
</style>
<script>
  $(document).ready(function() {
    document.cookie = "safeCookie1=foo; SameSite=Lax";
    document.cookie = "safeCookie2=foo";
    document.cookie = "crossCookie=bar; SameSite=None; Secure";
  	//Only needed for the filename of export files.
  	//Normally set in the title tag of your page.
  	document.title='알리네_키워드 생성';
  	// DataTable initialisation

    var table_arr = {"each":[
      $('#csv_table').DataTable( {
        dom: 'Bfrtip',
        "pageLength": 10,
        orderCellsTop: true,
        fixedHeader: true,
        select: {toggleable: true},
        lengthMenu: [
          [ 10, 50, 100, -1 ],
          [ '10 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        buttons: [
          'pageLength',
          // {extend: 'colvis',text: '열 선택',},
          {text: '키워드 추가',attr:{id:'addRow'}},
          {text: '키워드 삭제',attr:{id:'delRow'}},
        ],
          "columnDefs": [
            {"targets": 0,"cellType": "th"},
            {"targets": [3,4,5,6,7,8,9,11,12,13,15,16],"type": "num"},
            {"targets": 1,
              "render": function ( data, type, full, meta ) {
                if (full[1].indexOf("지정")>-1) {
                  data='<a href="#">★'+full[1]+'</a>'
                } else {
                  data='<a href="#">☆'+full[1]+'</a>'
                }
                return data;
              }
            },
            {"targets": 14,
            "render": function ( data, type, full, meta ) {
              tmp_html=""
              tmp=data.split("val!")
              for (i=1;i<tmp.length;i++) {
                if (i!=1) {
                  tmp_html=tmp_html+"</br>";
                }
                tmp2=tmp[i].split("lnk!")
                if (tmp2.length>1) {
                  link_title=tmp2[0]
                  link_href=tmp2[1]
                } else {
                  link_href=tmp2[0]
                  link_title=tmp2[0]
                }
                tmp_html=tmp_html+'<a href="https://search.shopping.naver.com/gate.nhn?id='+link_href+'" target="_blank" rel="noopener noreferrer">'+link_title+'</a>';
              }
              return tmp_html;
              }
            },
            {"targets": [3,4,5,6,7,8,10], visible:false }
          ]
      })
      ,$('#add_table').DataTable( {
        dom: 'Bfrtip',
        select: {style: 'multi'},
        fixedHeader: true,
        lengthMenu: [
          [ 10, 50, 100, -1 ],
          [ '10 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        buttons: [
          'pageLength',
        ],
        "columnDefs": [
          {"targets": 0,"cellType": "th",
          "render": function ( data, type, full, meta ) {
            if (full[1]!="") {
              data="+"
            }
            return data;}
          },
        ]
      })
      ,$('#del_table').DataTable( {
        dom: 'Bfrtip',
        select: {toggleable: true},
        fixedHeader: true,
        lengthMenu: [
          [ 10, 50, 100, -1 ],
          [ '10 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        buttons: [
          'pageLength',
          {text: '제외 해제',attr:{id:'delRow_d'}},
        ],
        "columnDefs": [
          {"targets": 0,"cellType": "th",
          "render": function ( data, type, full, meta ) {
            if (full[1]=="") {
              data="+"
            }
            return data;}
          },
        ]
      })
      ,$('#key_com').DataTable( {
        dom: 'Bfrtip',
        select: {toggleable: true},
        fixedHeader: true,
        "pageLength": -1,
        lengthMenu: [
          [ 10, 50, 100, -1 ],
          [ '10 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        buttons: [
          'pageLength',
          {text: '삭제',attr:{id:'delRow_com'}},
        ],
        "columnDefs": [
        {"targets": 0,"cellType": "th",
        "render": function ( data, type, full, meta ) {
          if (full[1]!="") {
            data=full[2].length
          }
          return data;}},
        ],
        "rowCallback": function( row, data, index ) {
          var allData = this.api().column(2).data().toArray();
          if (data[2]!="" && allData.indexOf(data[2]) != allData.lastIndexOf(data[2])) {
            $('td:eq(1)', row).css('background-color', 'salmon');
          } else if(data[2]=="") {
            $('td:eq(1)', row).css('background-color', 'white');
          } else {
            $('td:eq(1)', row).css('background-color', 'limegreen');
          }
        }
      })
    ]}

    var table=table_arr.each[0];
    var table_m=table_arr.each[1];
    var table_d=table_arr.each[2];
    var table_c=table_arr.each[3];
    table_c.row.add( ["+","",""] ).draw( false )
    $('#csv_table thead tr').clone(true).appendTo( '#csv_table thead' );
    $('#csv_table thead tr:eq(1) th').each( function (i) {
      if (i!=0) {
        if (i==1) {
          title = "순위/지정/연관"
          w=120
          $(this).html( '<input type="text" id="'+"filter"+i+'" placeholder="'+title+'" style="width:'+w+'px;"/>' );
        } else if (["키워드","top3"].indexOf($(this).text())>-1) {
          title = "키워드"
          w=90
          $(this).html( '<input type="text" id="'+"filter"+i+'" placeholder="'+title+'" style="width:'+w+'px;"/>' );
        } else {
          title = "min~max"
          w=85
          $(this).html( '<input type="text" id="min'+i+'" name="min'+i+'" class="form-control" placeholder="Min" style="float:left;height:20px;"/><input type="text" id="max'+i+'" name="max'+i+'" class="form-control" placeholder="Max" style="float:left;height:20px;"/>' );
        }
        $( 'input', this ).on( 'keyup change focusout', function (e) {
          if ( (e.keyCode == 13 || e.type=="focusout") ) {
            tmp_num=this.value.split("~")
            col_idx=table.columns().indexes('visible').indexOf(i)
            title=$(this).attr('placeholder')
            if (title == "기존/지정/연관" && table.column(col_idx).search() !== this.value) {
              table.column(i).search( this.value ).draw();
            } else if(title == "키워드" && table.column(col_idx).search() !== this.value){
              table.column(col_idx).search( this.value ).draw();
            }
            return false;
          }
        } );
      } else {
        $(this).html('-');
      }
    } );
    $('#csv_table tbody').on('click', 'tr', function (e) {
        if (e.target.cellIndex==1) {
          var key_f = table.row(this).data()[2];
          var key_idx = table_m.column(1).data().indexOf(key_f);
          var data = table.cell( $(this).children('td:first') ).data();
          if (data.indexOf('지정')<0) {
            if (key_idx<0) {
              table_m.row.add( ["",key_f] ).draw( false )
            }
            table.cell($(this).children('td:first')).data("지정"+data).draw(false)
          } else {
            if (key_idx>-1) {
              table_m.row( key_idx ).remove().draw(false);
            }
            table.cell($(this).children('td:first')).data(data.replace("지정","")).draw(false)
          }
        }
    } );
    $('#add_table tbody').on('click', 'tr', function (e) {
      if (e.target.cellIndex==0) {
        sel_idx=table_m.row(this).index()

        rows_m = table_m.rows( '.selected' )
        rows_c = table_c.rows( '.selected' )
        for (j=0;j<rows_c.count();j++) {
          row_idx=rows_c.indexes()[j]
          if (table_c.row(row_idx).data()[1]=="") {
            table_c.row.add( ["+","",""] ).draw( false )
            break
          }
        }
        rows_mA=rows_m.column(1).data()
        rows_idxs=rows_m.indexes()
        rows_in_sel=rows_idxs.indexOf(sel_idx)
        if (rows_in_sel>-1) {
          rows_idxs.splice(rows_in_sel,1)
        } else {
          rows_idxs.push(sel_idx)
        }
        for (j=0;j<rows_c.count();j++) {
          row_idx=rows_c.indexes()[j]
          cell_c=table_c.row(row_idx).data()[1]
          cell_com=cell_c
          for (i=0;i<rows_mA.count();i++) {
            cell_m=rows_mA[i]
            is_selected=rows_idxs.indexOf(i)>-1
            is_exist_key=cell_c.split(" ").indexOf(cell_m)>-1
            if (is_selected && cell_m!="" && cell_c=="") {
              cell_com=cell_m
            } else if(is_selected && cell_m!="" && !is_exist_key) {
              cell_com=cell_c+" "+cell_m
            } else if(!is_selected && is_exist_key) {
              cell_c_arr=cell_c.split(" ")
              key_ex_idx=cell_c_arr.indexOf(cell_m)
              cell_c_arr.splice(key_ex_idx,1)
              cell_com=cell_c_arr.join(" ").trim()
            }
          }
          if (cell_com=="") {
            table_c.row(row_idx).remove().draw(false);
            add_idx=table_c.column(0).data().indexOf("+")+1
            table_c.row(add_idx).select()
          } else {
            table_c.row(row_idx).data(["",cell_com,real_com(cell_com)]).draw(false)
          }
        }
      }
    } );
    $('#key_com tbody').on('click', 'tr', function (e) {
      if (e.target.cellIndex==0) {
        row_c=table_c.row(this).data()
        cell_c=row_c[1]
        rows_m = table_m.rows()
        tmp_c_arr=cell_c.split(" ")
        table_m.rows().deselect()
        for (j=0;j<tmp_c_arr.length;j++) {
          tmp_c=tmp_c_arr[j]
          for (i=0;i<rows_m.count();i++) {
            cell_m=rows_m.data()[i][1]
            if (tmp_c==cell_m) {
              table_m.rows(i).select()
            }
          }
        }
      }
    } );

    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(3,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(4,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(4,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(5,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(6,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(8,data))}    );
    $.fn.dataTable.ext.search.push(      function( settings, data, dataIndex ) {return(get_filter_each(9,data))}    );


    for(f_i=1;f_i<$('thead tr:eq(1) th').length;f_i++) {
      $('#min'+f_i+', #max'+f_i).on('keyup focusout', 'tr', function (e) {
        if (e.event=="focusout" || e.keyCode==13) {
          table.draw();
        }
      } );
    }
    function get_filter_each(f_i,data) {
      col_i=table.columns().indexes('visible').indexOf(f_i)
      var min = parseInt( $('#min'+f_i).val(), 10 );
      var max = parseInt( $('#max'+f_i).val(), 10 );
      var va = parseFloat( data[col_i] ) || 0;
      if ( ( isNaN( min ) && isNaN( max ) ) ||
      ( isNaN( min ) && va <= max ) ||
      ( min <= va    && isNaN( max ) ) ||
      ( min <= va    && va <= max ) )
      {
        return true;
      }
      return false;
    }

    $('#addRow').on( 'click', function () {
      var new_key = $('#csv_table_filter label input').val();
      var flag_key = table.column(1).data().indexOf(new_key)<0;
      var col_cnt = table.columns().count()
      if (new_key=="") {alert("값이 비어있습니다")
      } else if (flag_key) {
        console.log(window.location.href)
        theUrl=window.location.href.replace("/admin","/get_slbyK?key="+new_key)
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        tmp_row=xmlHttp.responseText.split(",");
        tmp_row.unshift("")
        table.row.add( tmp_row ).draw( false );
        table_m.row.add( ["",new_key] ).draw( false )
      } else {alert("이미 있는 키워드입니다")}} );
    $('#delRow').on( 'click', function () {
      var rows = table.rows( '.selected' )
      for (i=0;i<rows.count();i++) {
        table_d.row.add( ["", rows[i][2]] ).draw( false )
      }
      rows.remove().draw(false);
    });
    $('#delRow_d').on( 'click', function () {
      var rows = table_d.rows( '.selected' )
      rows.remove().draw(false)
    });
    $('#delRow_com').on( 'click', function () {
        var rows = table_c.rows( '.selected' )
        rows.remove().draw(false)
        if (table_c.rows().count()==0){
          table_c.row.add( ["+","",""] ).draw( false )
        }
    });
    var x = document.getElementsByClassName('t_key');
    x[0].style.display = "none";
    x[1].style.display = "block";
  })

  function real_com(str) {
    var tmp_str=str.split(" ")
    for (cc=tmp_str.length-1;cc>0;cc=cc-1) {
      tmp2=tmp_str[cc]
      for (cc2=0;cc2<tmp2.length-1;cc2++) {
        tmp3=tmp2.substring(cc2,tmp2.length)
        for (cc3=cc-1;cc3>-1;cc3=cc3-1) {
          if(tmp_str[cc3].indexOf(tmp3)>-1) {
            tmp_str[cc3]=tmp_str[cc3].replace(tmp3,"")
          }
        }
      }
    }
    for (cc=0;cc<tmp_str.length-1;cc=cc+1) {
      tmp2=tmp_str[cc]
      for (cc2=tmp2.length;cc2>1;cc2=cc2-1) {
        tmp3=tmp2.substring(0,cc2)
        for (cc3=cc+1;cc3<tmp_str.length;cc3=cc3+1) {
          if(tmp_str[cc3].indexOf(tmp3)>-1) {
            tmp_str[cc3]=tmp_str[cc3].replace(tmp3,"")
          }
        }
      }
    }
    for (cc=0;cc<tmp_str.length-1;cc=cc+1) {
      tmp2=tmp_str[cc]
      for (cc2=0;cc2<tmp2.length-1;cc2++) {
        tmp3=tmp2.substring(cc2,tmp2.length)
        for (cc3=cc+1;cc3<tmp_str.length;cc3=cc3+1) {
          if(tmp_str[cc3].indexOf(tmp3)>-1) {
            tmp_str[cc3]=tmp_str[cc3].replace(tmp3,"")
          }
        }
      }
    }
    return tmp_str.join(" ").replace(/ +/g, " ").trim()
  }

  function toggleDiv(e) {
    var x = document.getElementsByClassName('t_key');
    txt=$(e).prop('value')
    if (txt=="전체") {
      x[0].style.display = "none";
      x[1].style.display = "block";
      $(e).prop('value',"제외/지정")
    } else {
      x[0].style.display = "block";
      x[1].style.display = "none";
      $(e).prop('value',"전체")
    }
  }
</script>
<style>
  body {margin:2em;}
</style>
<div>
  <input type="button" value="변경저장" onclick="">
  <input type="button" value="키워드재확인" onclick="location.reload();">
  <input type="button" value="제외/지정" onclick="toggleDiv(this)">
</div>

<div class="t_key" style="display:block">
  <div style="width:42%;display: inline-block;float:left;margin-right: 10px;">
    지정 키워드
    {{ data_add | safe }}
    제외 키워드
    {{ data_del | safe }}
  </div>
  <div style="width:50%;display: inline-block;float:left;">
    키조합
    {{ data_com | safe }}
  </div>
</div>
<div class="t_key" style="display:block">키워드 확인
  <div style="width:100%;display: inline-block;float:left;">
    {{ data_key | safe }}
  </div>
</div>
