<!-- https://datatables.net/ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/cr-1.5.4/fh-3.1.9/kt-2.6.2/rg-1.1.3/sc-2.0.4/sl-1.3.3/datatables.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script>
  $(document).ready(function() {
    document.cookie = "safeCookie1=foo; SameSite=Lax";
    document.cookie = "safeCookie2=foo";
    document.cookie = "crossCookie=bar; SameSite=None; Secure";
  	//Only needed for the filename of export files.
  	//Normally set in the title tag of your page.
  	document.title='알리네_키워드 생성';
  	// DataTable initialisation
    var table = $('.display').DataTable( {
      dom: 'Bfrtip',
      colReorder: true,
      select: {          toggleable: false      },
      buttons: [
        {   action: function ( e, dt, button, config ) {                location.reload();            },
            text: '키워드 재확인'        },
        {          extend: 'colvis',          text: '열 선택',        },
        {          extend: 'colvisRestore',          text: '열 복구',        },
        'csv',
        {text: '키워드 추가',          attr:{            id:'addRow'          }        },
        {text: '키워드 삭제',          attr:{            id:'delRow'          }        },
        {text: '키워드 지정',          attr:{            id:'keepRow'          }        },
      ]
    } );

    $('#addRow').on( 'click', function () {
      var new_key = $('input[type="search"]:visible').val();
      var flag_key = table.column(1).data().indexOf(new_key)<0;
      if (flag_key) {        table.row.add( [        '지정',new_key,'','',''        ] ).draw( false );
      } else {        alert("이미 있는 키워드입니다")      }    } );
    $('#delRow').on( 'click', function () {
      var rows = table.rows( '.selected:visible' ).remove().draw();} );
  });

  function toggleDiv(idx) {
    var x = document.getElementsByClassName('t_key');
    for (i = 0; i < x.length; i++) {
      if (i==idx) {
        x[i].style.display = "block";
      } else {
        x[i].style.display = "none";
      }
    }
  }

</script>
<style>
  body {margin:2em;}
</style>

<div>
  <button onclick="toggleDiv(0)">전체</button>
  <button onclick="toggleDiv(1)">지정</button>
  <button onclick="toggleDiv(2)">제외</button>
</div>
<div class="t_key" style="display:block">키워드 확인
  <table id="csv_table" class="display" cellspacing="0" width="100%">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>

<div class="t_key" style="display:none">지정 키워드
  <table id="add_table" class="display" cellspacing="0" width="100%">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>

<div class="t_key" style="display:none">제외 키워드
  <table id="del_table" class="display" cellspacing="0" width="100%">
  	<thead>
  		<tr>
  			<th>Order</th>
  			<th>Description</th>
  			<th>Deadline</th>
  			<th>Status</th>
  			<th>Amount</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>2</td>
  			<td>Layout for poster</td>
        <td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>3</td>
  			<td>Image creation</td>
  			<td>2016/01/23</td>
  			<td>asdas</td>
  			<td>€1.500,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  		<tr>
  			<td>5</td>
  			<td>Sticker production</td>
  			<td>2016/02/18</td>
  			<td>Planned</td>
  			<td>€2.100,00</td>
  		</tr>
  		<tr>
  			<td>6</td>
  			<td>Glossy poster</td>
  			<td>2016/03/17</td>
  			<td>To Do</td>
  			<td>€899,00</td>
  		</tr>
      <tr>
  			<td>1</td>
  			<td>Alphabet puzzle</td>
  			<td>2016/01/15</td>
  			<td>Done</td>
  			<td>€1.000,00</td>
  		</tr>
  		<tr>
  			<td>4</td>
  			<td>Create font</td>
  			<td>2016/02/26</td>
  			<td>Done</td>
  			<td>€1.200,00</td>
  		</tr>
  	</tbody>
  </table>
</div>
