@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'MalgunGothic';
	src: url('fonts/MalgunGothic.eot');
	src: url('fonts/MalgunGothic.eot?#iefix') format('embedded-opentype'), url('fonts/MalgunGothic.woff') format('woff'), url('fonts/MalgunGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
::-webkit-scrollbar { -webkit-appearance: none; } ::-webkit-scrollbar:vertical { width: 12px; } ::-webkit-scrollbar:horizontal { height: 12px; } ::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, .5); border-radius: 10px; border: 2px solid #ffffff; } ::-webkit-scrollbar-track { border-radius: 10px; background-color: #ffffff; }

/* 항상 사용하는 공통 css */
* {margin: 0px;padding: 0px;word-break: keep-all;}
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea, a, button {color: #000;font-size: 12px;font-family: 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim;line-height: normal;vertical-align:top;}
ul, ol, dl, dt, dd {list-style: none;}
a {text-decoration: none;color:blue;}
button {border: 0;background-color: transparent;cursor: pointer;}
input, select {height: 28px;border: 1px solid #ccc;border-radius: 2px;cursor: pointer;}
input[type="text"] {cursor: text;}
img {border: none;vertical-align: top;}
table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.hide, hr, legend, caption {position: absolute;width: 1px;height: 1px;font-size: 0;line-height: 0;overflow: hidden;visibility: hidden;}
.none {display: none;}
.text-center{text-align: center !important;}

/* bg */
.bg-red{background: #f23265;}
.bg-purple{background: #b032f2;}

/* color */
.color-white{color: #fff;}
.color-yellow{color: #ffea00;}
.color-pink{color:#fd1b60;}
.color-gray{color: #999;}

/*button */
button.btn_b02, input[type="submit"].btn_b02, input[type="button"].btn_b02{display:inline-block;padding:7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
button.btn_b02:focus, .btn_b02:hover {text-decoration:none}
input[type="submit"].btn_b02, input[type="button"].btn_b02{
    /* padding: 7px 7px; */
    letter-spacing: 0;
    height: 32px;
}

/* percent */
.p5{width: 5%;}
.p10{width: 10%;}
.p12{width: 12%;}
.p15{width: 15%;}
.p20{width: 20%;}
.p25{width: 25%;}
.p30{width: 30%;}

/* btn-group */
.btn-group {position: relative;}
.relative {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.text-center {
    text-align: center;
}
.btn-group a.btn, .btn-group button[type="submit"] {
    display: inline-block;
    background: #656565;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/**/
.wrap{
	position: relative;
	width: 670px;
	margin: 30px auto;
}
.m-wrap{
	position: relative;
	width: 100%;
	margin: 30px auto;
}
input[type="text"].block, select.block{
	width: 98%;
}
.vb{vertical-align: bottom;}
.btn-blue{
    display: inline-block;
    padding: 5px 4px;
    margin: 0 4px;
    border: 1px solid #1c96df;
    border-radius: 2px;
    background: #25a5ef;
    color: #fff;
}
.btn-red{
    display: inline-block;
    padding: 5px 4px;
    border: 1px solid #d34c39;
    border-radius: 2px;
    background: #e15542;
    color: #fff;
}
.color-blue{color: #0070b1;}
.color-red{color: #e15542;}


/* paging */
.board-list-paging {
	position: relative;
	margin: 30px 0 40px;
	text-align: center;
	clear: both;
	width: 100%;
}
.pagelist {
	text-align: center;
	position: relative;
	/* border-top: 1px solid #e5e5e5; */
	/* border-bottom: 1px solid #e5e5e5; */
	min-height: 31px;
}
.pagelist * {
	vertical-align: middle;
}
.pagelist span {
	/* font-family: arial; */
	color: #666 !important;
	font-size: 13px;
}
.pagelist a span {
	cursor: pointer;
	display: block;
	width: 31px;
	height: 31px;
	line-height: 29px;
	border-left: 0;
	font-weight: bold;
	font-weight: normal;
}
.pagelist strong, .pagelist a {
	display: inline-block;
	margin: 0;
	background: #fff;
}
.pagelist a.first, .pagelist a.prev, .pagelist a.next, .pagelist a.last{margin: 0;}
.pagelist strong span, .pagelist a:hover span, .pagelist a:focus span, .pagelist a:active span {
	color: #fff !important;
	width: 31px;
	height: 31px;
	line-height: 29px;
	display: inline-block;
	vertical-align: middle;
	background: #0984cc;
	border-left: 0;
	font-weight: normal;
}
.pagebtn {
	position: absolute;
	top: 0;
}
.pagebtn.left {
	left: 20px;
}
.pagebtn.right {
	right: 20px;
}
.pagebtn a {
	display: inline-block;
	height: 31px;
	vertical-align: middle;
	line-height: 340%;
}
.pagebtn.left a {
	padding-right: 10px;
}
.pagebtn.right a {
	padding-left: 10px;
}
.pagebtn img {
	vertical-align: middle;
}